form {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .input-icon {
    position: relative;
    i {
      position: absolute;
      display: block;
      transform: translate(0, -50%);
      top: 50%;
      pointer-events: none;
      width: 25px;
      text-align: center;
      font-style: normal;
    }
    input {
      padding-left: 25px;
      padding-right: 0;
    }
  }
}

.range-slider {
  margin:.1em 0;
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: #5b666d;
    border-radius: 6px;
    border: 1px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    border: 2px solid #5b666d;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9.2px;
    &::before {
      content: "$"
    }
  }
}






