<div class="panel panel-default sbl-block">
  <div class="panel-body sbl-block__form-container">
    <form novalidate (ngSubmit)="smallBusinessLoansFormSubmit()" [formGroup]="smallBusinessLoansForm">
      <fieldset>

        <div class="range-slider">
          <input name="amount" [ngModel]="amountView" (ngModelChange)="amountView=$event" type="range" [min]="amountMin" [max]="amountMax" [attr.step]="amountStep" formControlName="amount"/>
          <div class="amount-range-block">
            <ul class="list-unstyled amount-range-block__list">
              <li *ngFor="let rangeOption of rangeOptions">{{rangeOption.amount | aud}}</li>
            </ul>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error': (smallBusinessLoansForm.get('amount').touched ||
                                              smallBusinessLoansForm.get('amount').dirty) &&
                                              !smallBusinessLoansForm.get('amount').valid }">
          <label for="amountId">How much money do you need?</label>
          <div class="input-icon">
            <i>$</i>
            <input [(ngModel)]="amountView" (ngModelChange)="calculateRepayments()" class="form-control" id="amountId" type="number" formControlName="amount" />
          </div>
          <span class="help-block" *ngIf="(smallBusinessLoansForm.get('amount').touched ||
                                                         smallBusinessLoansForm.get('amount').dirty) &&
                                                         smallBusinessLoansForm.get('amount').errors">
                            <span *ngIf="smallBusinessLoansForm.get('amount').errors.required">
                                Please set an amount.
                            </span>
                            <span *ngIf="smallBusinessLoansForm.get('amount').errors.min">
                                Amount is below the minimum value offered for this product.
                            </span>
                            <span *ngIf="smallBusinessLoansForm.get('amount').errors.max">
                                Amount exceeds the maximum value offered for this product.
                            </span>
          </span>
        </div>

        <div class="form-group" [ngClass]="{'has-error': (smallBusinessLoansForm.get('months').touched ||
                                              smallBusinessLoansForm.get('months').dirty) &&
                                              !smallBusinessLoansForm.get('months').valid }">
          <label for="monthsId">How long do you want the loan for (in months)</label>
          <input class="form-control" id="monthsId" type="hidden" placeholder="Month" formControlName="months" />
          <div class="row"></div>
          <div class="btn-group month-select-block">
            <button
              *ngFor="let month of monthOptions"
              [ngClass]="{'btn-default': month.amount !== smallBusinessLoansForm.value.months, 'btn-primary': month.amount === smallBusinessLoansForm.value.months}"
               type="button"
               class="btn btn-md"
               (click)="onMonthSelect(month.amount)">
                  {{month.amount}}
               </button>
          </div>
        </div>

        <div class="well sbl-details-block">
          <p>{{amountView | aud}} over {{smallBusinessLoansForm.value.months}} months will approximately equate to:</p>
          <ul class="list-unstyled sbl-details-block__list">
            <li>
              <div>{{repaymentCount}}</div>
              <div>daily repayments</div>
            </li>
            <li>
              <div>{{'$' + repaymentAmount}}</div>
              <div>per day</div>
            </li>
          </ul>
          <p class="prospa-small">When we calculate your exact rate, we take into account a number of factors including our assessment on the strength of your business. This calculation is an estimate only. Conditions apply to all loan options and to full or partial repayments. Fees and charges also apply and are subject to change. Applications are subject to approval and full terms and conditions will be in the loan offer.</p>
          <p class="prospa-small"><a href="">Connect your bank statements</a> for a more accurate result</p>
        </div>

        <div class="form-group" [ngClass]="{'has-error': (smallBusinessLoansForm.get('fullName').touched ||
                                              smallBusinessLoansForm.get('fullName').dirty) &&
                                              !smallBusinessLoansForm.get('fullName').valid }">
          <label for="fullNameId">Full Name</label>
          <input class="form-control" id="fullNameId" type="text" placeholder="Full Name" formControlName="fullName" />
          <span class="help-block" *ngIf="(smallBusinessLoansForm.get('fullName').touched ||
                                                         smallBusinessLoansForm.get('fullName').dirty) &&
                                                         smallBusinessLoansForm.get('fullName').errors">
                            <span *ngIf="smallBusinessLoansForm.get('fullName').errors.required">
                                Please enter your full name.
                            </span>
          </span>
        </div>

        <div class="form-group" [ngClass]="{'has-error': (smallBusinessLoansForm.get('email').touched ||
                                              smallBusinessLoansForm.get('email').dirty) &&
                                              !smallBusinessLoansForm.get('email').valid }">
          <label for="emailId">Email</label>
          <input class="form-control" id="emailId" type="text" placeholder="Email" formControlName="email" />
          <span class="help-block" *ngIf="(smallBusinessLoansForm.get('email').touched ||
                                                         smallBusinessLoansForm.get('email').dirty) &&
                                                         smallBusinessLoansForm.get('email').errors">
                            <span *ngIf="smallBusinessLoansForm.get('email').errors.required">
                                Please enter your email.
                            </span>
                            <span *ngIf="smallBusinessLoansForm.get('email').errors.pattern">
                                Please enter a valid email.
                            </span>
          </span>
        </div>

        <div class="form-group">
          <div>
            <span>
                            <button class="btn btn-primary pull-right btn-prospa"
                                    type="submit"
                                    [disabled]="!smallBusinessLoansForm.valid">
                                Submit
                            </button>
                        </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
