@import './shared/styles/_variables';
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font-family: $font-family-prospa;
}

h1,h2 {
  font-weight: bold;
}


